.menu__title {
    color: var(--cta-text);
    grid-column: 1 / -1;
    justify-self: center;
    font-size: 3rem;
    letter-spacing: -3px;
    font-weight: 900;
}

.item__container {
    height: auto;
    width: 400px;
    background-color:var(--card-bg);
    border: 2px solid var(--card-border);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    padding: 0.8rem;
    gap: 1rem;
    opacity: 0;
}

.item__body {
    display: grid;
    grid-template-rows: 1fr auto 1.5fr;
    color: var(--cta-text);
    align-self: center;
}

.item__heading {
    font-weight: 900;
    font-family: var(--shippori);
    font-size: 2rem;
    margin: 0;
    letter-spacing: -5px;

}

.item__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__subHeading {
    font-weight: 900;
    font-size: 1.2rem;
    letter-spacing: -3px;
    margin: 0;
}

.item__price {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Arial Black', serif;
    border-radius: 0.4rem;
}

.item__header {
    height: 100px;
}

.item__img {
    justify-self: center;
    background-color: #2E303E;
    border-radius: 1rem;
    width: 120px;
    height: 120px;
}

.item__desc {
    margin: 0;
    align-self: center;
    font-size: 0.9rem;
}



/* card placements */
.uramaki {
    grid-column: 2 / 5;
}

.nigiri {
    justify-self: center;
    grid-column: 5 / 9;
}

.maki {
    justify-self: end;
    grid-column: 9 / 12;
}

.temaki {
    grid-row: 3;
    grid-column: 2 / 5;
}

.sashimi {
    grid-row: 3;
    justify-self: center;
    grid-column: 5 / 9;
}

.chirashi {
    grid-row: 3;
    justify-self: end;
    grid-column: 9 / 12;
}

.inari {
    grid-row: 4;
    grid-column: 2 / 5;
}

.gunkan {
    grid-row: 4;
    grid-column: 5 / 9;
    justify-self: center;
}

.oshi {
    grid-row: 4;
    justify-self: end;
    grid-column: 9 / 12;

}

#content[data-tab="menu"] {
    row-gap: 1rem;
}